/session12/Permutation/nbproject/private/
/session12/Permutation/build/
*~
*.o
*.obj
*.class
*.out
*.exe
/session12/MagicSquareBruteForce2018S/nbproject/private/
/session12/MagicSquareBruteForce2018S/build/